/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 table{
     padding: 5px;
 }
 td{
     padding: 10px;
 }
 .img-item{
     width: 150px;
     height: 150px;
 }
 .font-name{
    font-family: 'Ubuntu', sans-serif;
 }
 nav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
 }
/* body{
    font-family: 'Varela Round', sans-serif;
} */
/* nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 50px;
    padding-left: 50px;
    color: #3DB2FF;
    border-bottom: solid 2px #3DB2FF;

}
nav h3{
    font-size: 25px;
} */
/* .sigout-nav{
    transition: .2s;
    width: 100px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    background: #FF2442;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.sigout-nav:hover{
    transition: .2s;
    background: white;
    color: #FF2442;
} */